<ion-view view-title="Home">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-navicon" ng-click="modal.show()"></button>
  </ion-nav-buttons>
  <ion-content class="padding home-page">
    <div class="banner">
	  <div class="item item-image">
	    <img class="full-image" src="/img/banner1.jpg">
	  </div>
	</div>
    <div class="banner">
	  <div class="item item-image">
	    <img class="full-image" src="/img/mbo-logo.png">
	  </div>
	</div>
    <div class="banner">
	  <div class="item item-image">
	    <img class="full-image" src="/img/banner2.jpg">
	  </div>
	</div>
    <div class="banner">
	  <div class="item item-image">
	    <img class="full-image" src="/img/banner3.jpg">
	  </div>
	</div>
    <div class="banner">
	  <div class="item item-image">
	    <img class="full-image" src="/img/banner4.jpg">
	  </div>
	</div>
  </ion-content>
</ion-view>
