<ion-view view-title="Events">
  <ion-content class="padding events-page">
    <div class="list card">
      <div class="item item-divider">
        <h2 align="center">April Event highlighs</h2>
      </div>
      <div class="item item-body">
        <img class="full-image" src="/img/event1.jpg">
        <p>
          Lorem ipsum dolor sit amet, emphasis consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.
        </p>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        <h2 align="center">Wedding Fair 2016</h2>
      </div>
      <div class="item item-body">
        <img class="full-image" src="/img/event2.jpg">
        <p>
          Lorem ipsum dolor sit amet, emphasis consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>